.activity-container {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.activity-container > header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border);
}

.activity-container > header > h3 {
  font-size: 1.6rem;
}

.activity-container > header > .actions svg {
  cursor: pointer;
}

.activity-container > header > .actions svg + svg {
  margin-left: 5px;
}

.activity-container > .activity-main {
  display: flex;
  flex-direction: column;
}

.activity-container > .activity-main p {
  font-size: 1.4rem;
  color: #9b9b9b;

  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--border);
}

.activity-container > .activity-main > span {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #9b9b9b;
}

.activity-container + .activity-container {
  margin-top: 10px;
}
