.gift-container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding-top: 60px;
  margin-bottom: 160px;
}

.gift-container > h2 {
  font-size: 6rem;
  font-family: 'Nunito', sans-serif !important;

  margin-bottom: 30px;
}

.gift-container > p {
  max-width: 75%;
  text-align: center;

  font-size: 1.7rem;
  line-height: 1.9em;
  color: rgba(68,66,53,0.8);

  margin-bottom: 70px;
}

.gift-container > div {
  width: 80%;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.gift-container > div > .product-container {
  width: 100%;
  padding: 20px;

  display: flex;
  align-items: center;
  flex-direction: column;

  border: 1px solid var(--border);
  background: #fff;
}

.gift-container > div > .product-container > img {
  width: 177px;
}

.gift-container > div > .product-container > h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 2rem;
  font-family: 'Nunito', sans-serif !important;

  color: rgba(68,66,53,0.8);
}

.gift-container > div > .product-container > span {
  font-size: 1.6rem;
  font-family: 'Nunito', sans-serif !important;
  font-weight: 700;
}

.gift-container > div > .product-container > p {
  font-size: 1.3rem;
  color: rgba(68,66,53,0.8);
}

.gift-container > div > .product-container > button {
  padding: 5px 5px 5px 5px;
  border: none;
  background: #d1af83;
  color: #fff;
  cursor: pointer;
  width: 70%;

  text-transform: uppercase;

  transition: .3s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.gift-container > div > .product-container > button > svg {
  margin-right: 5px;
}

.gift-container > div > .product-container > button:hover {
  background: #be9f77;
}

@media (max-width: 1350px) {
  .gift-container > div {
    width: 90%;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1000px) {
  .gift-container > div {
    width: 95%;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .gift-container > div {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 760px) {
  .gift-container > h2 {
    font-size: 4rem;
  }
  .gift-container > p {
    font-size: 1.4rem;
  }
  .gift-container > div {
    width: 95%;
    grid-template-columns: repeat(1, 1fr);
  }
}

