.chip-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem 1.5rem 0.2rem 1.5rem;
  border-radius: 50px;
  width: auto !important;
}
.chip-container + .chip-container {
  margin-left: 10px;
}
.chip-container p {
  font-size: 1rem;
}

