.shimmer-activity span {
  height: 104px;
  width: 100%;
}

.shimmer-activity hr {
  height: 10px;
  margin-top: 10px;
  width: 200px;
}

.shimmer-activity > div {
  display: inline-flex;
  flex-direction: column;
  margin-left: 25px;
  margin-top: 15px;
  vertical-align: top;
}



@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
