.l-container {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.l-container > .l-intro {
  width: 100%;
  height: 100vh;
}

.l-container > .l-intro > .l-content {
  width: 100%;
  height: 400px;
  margin-top: 53px;
  background: rgb(232,224,218);
  background: linear-gradient(180deg, rgba(232,224,218,1) 57%, rgba(255,255,255,1) 98%);
  padding-top: 100px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  position: relative;
}

.l-container > .l-intro > .l-content > .l-details {
  margin-left: 50px;
  text-align: right;
}

.l-container > .l-intro > .l-content > .l-details > h3 {
  font-size: 5rem;
  margin-bottom: 50px;

  font-family: 'Nunito', sans-serif;

}

.l-container > .l-intro > .l-content > .l-details > p {
  max-width: 500px;
  font-family: 'Nunito', sans-serif;
  font-size: 1.8rem;
}

.l-container > .l-intro > .l-content > .l-image {
  margin-right: 50px;
  margin-left: 50px;
}

.l-container > .l-intro > .l-content > .l-image > img {
  width: 700px;
}

.l-container > .l-about,
.l-container > .l-feedback {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
}

.l-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px 20px;

  max-width: 1200px;
}

.l-section > .l-img {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.l-section > .l-img > img {
  width: 400px;
}

.l-section > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.l-section > div > span {
  font-size: 3rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;

  display: flex;
  align-items: center;
}

.l-section > div > span > svg {
  margin-right: 10px;
  color: var(--green);
}

.l-section > div > p {
  font-size: 1.8rem;
  font-family: 'Nunito', sans-serif;

  margin-top: 20px;

  display: flex;
  align-items: center;
}

.l-container > .l-feedback {
  margin-top: 100px;
  padding-top: 100px;

  background: rgba(209,197,186,0.16);

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.l-container > .l-feedback > h3 {
  font-size: 3rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;

  margin-bottom: 50px;
}

.l-container > .l-feedback > section {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  max-width: 1200px;
}

.l-container > .l-feedback > section > div {
  padding: 20px;
  border: 1px solid var(--color-border);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.l-container > .l-feedback > section > div > span {
  font-size: 2rem;
  font-weight: 600;

  margin-top: 10px;
  margin-bottom: 15px;

  font-family: 'Nunito', sans-serif;
}

.l-container > .l-feedback > section > div > p {
  font-size: 1.5rem;
  font-family: 'Nunito', sans-serif;

  text-align: justify;
}

.l-container > .l-feedback > section > div > img {
  width: 50px;
}
