.countdown-container {
  width: 100%;
  min-height: 100vh;

  background: rgba(209,197,186,0.16);
  padding: 180px 0px 180px 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-bottom: 150px;
}

.countdown-container > h2 {
  font-size: 6rem;
  color: #444235!important;
  line-height: 1.3em;
  text-align: center;
  font-family: 'Nunito', sans-serif !important;

  margin-bottom: 70px;
}

.countdown-container > p {
  max-width: 75%;
  text-align: center;

  font-size: 1.7rem;
  line-height: 1.9em;
  color: rgba(68,66,53,0.8);

  margin-bottom: 70px;
}

.countdown {
  display: flex;
  justify-content: center;
}

.countdown > .countdown-section > h3 {
  font-size: 74px;
  color: #d1af83;
  font-family: 'Nunito', sans-serif;
  line-height: 54px;
  padding: 0 20px 20px 20px;

  opacity: .4;
}

.countdown > .countdown-section > p {
  font-weight: 700;
  font-size: 1.8rem !important;
  color: #444235!important;
  line-height: 60px!important;

  text-align: center;
  opacity: .4;
}

.countdown > .dot {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  text-align: start;

  max-height: 70px;
  font-size: 40px;
  color: #d1af83;
  font-family: 'Nunito', sans-serif !important;

  opacity: .4;
}

@media (max-width: 760px) {
  .countdown-container > h2 {
    font-size: 4rem;
  }
  .countdown-container > p {
    font-size: 1.4rem;
  }
}

@media (max-width: 560px) {
  .countdown-container {
    padding: 180px 0px 180px 0px;
  }

  .countdown-container > p {
    max-width: 90%;
    font-size: 1.4rem;
  }

  .countdown > .countdown-section > h3 {
    font-size: 5rem;
  }

  .countdown > .dot {
    font-size: 3rem;
  }

  .countdown > .countdown-section > p {
    font-size: 1.4rem !important;
  }

  .countdown > .countdown-section > h3 {
    padding: 0 20px 0px 20px;
  }
}

@media (max-width: 560px) {
  .countdown-container > p {
    max-width: 95%;
    font-size: 1.2rem;
  }

  .countdown > .countdown-section > h3 {
    font-size: 3rem;
  }

  .countdown > .dot {
    font-size: 3rem;
  }

  .countdown > .countdown-section > p {
    font-size: 1.3rem !important;
  }

  .countdown > .countdown-section > h3 {
    padding: 0 20px 0px 20px;
  }

  .countdown-container > h2 {
    font-size: 3rem;
  }
  .countdown-container > p {
    font-size: 1.2rem;
  }
}
