.sheetComponent-container > header {
  padding: 10px;
  background: var(--color-border);
  border-radius: 3px 3px 0px 0px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid var(--color-border);
}

.sheetComponent-container > main {
  padding: 10px;
  border: 1px solid var(--color-border);
  min-height: 280px;
}
.sheetComponent-container > main > .row {
  width: 100%;
  border: 1px solid var(--color-border);
  border-radius: 3px 3px 0px 0px;
  padding: 5px 5px;
  font-size: 13px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}
.sheetComponent-container > main > .row-body {
  width: 100%;
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  padding: 5px 5px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}
.sheetComponent-container > main > .row > .row-item,
.sheetComponent-container > main > .row-body > .row-body-item {
  border-right: 1px solid var(--color-border);
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.sheetComponent-container > main > .row > .row-item:last-child,
.sheetComponent-container > main > .row-body > .row-body-item:last-child {
  border: none;
}
.sheetComponent-container > main > .row-body > .row-body-item > p {
  font-size: 12px;
}

.sheetComponent-container > main > .row-body > .actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sheetComponent-container > footer {
  border-radius: 0px 0px 3px 3px;
  background: var(--color-border);
  padding: 10px;
  text-align: right;
}
.btn-trash {
  cursor: pointer;
  color: var(--primary);
}
