.about-container {
  width: 100%;
  min-height: 100vh;
  padding-top: 120px;
  padding-bottom: 100px;
}

.about-container > .about-history {
  display: flex;
  justify-content: space-evenly;
  margin: 0 150px 0 150px;
}

.about-container > .about-history > .about-intro {
  width: 50%;
  padding: 20px;
}

.about-container > .about-history > .about-intro h2 {
  font-size: 6rem;
  font-family: 'Nunito', sans-serif !important;

  margin-bottom: 30px;
}

.about-container > .about-history > .about-intro p {
  font-size: 2.4rem;
  line-height: 1.8em;
  font-family: 'Nunito', sans-serif !important;

  color: #d1af83;
}

.about-container > .about-history > p {
  width: 50%;
  padding: 20px;

  font-size: 1.7rem;
  line-height: 1.9em;
  color: rgba(68,66,53,0.8);
}

.about-container > .about-personal {
  display: flex;
  justify-content: space-evenly;

  margin-top: 60px;
}

.about-container > .about-personal > .about-detail {
  width: 100%;
  max-width: 360px;

  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

.about-container > .about-personal > .about-detail > img {
  width: 360px;
  height: 360px;
}

.about-container > .about-personal > .about-detail > h3 {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Nunito', sans-serif !important;

  font-size: 3rem;
  color: #444235!important;
  line-height: 2em;
}

.about-container > .about-personal > .about-detail > p {
  font-size: 1.7rem;
  line-height: 1.7em;
  color: rgba(68,66,53,0.8);
}

@media (max-width: 1135px) {
  .about-container > .about-history {
    margin: 0 50px 0 50px;

  }
}

@media (max-width: 940px) {
  .about-container > .about-history > .about-intro h2 {
    font-size: 4rem;
  }
  .about-container > .about-history > .about-intro p {
    font-size: 1.8rem;
  }
  .about-container > .about-history > p {
    font-size: 1.5rem;
  }
  .about-container > .about-personal {
    flex-direction: column;
    align-items: center;
  }
  .about-container > .about-personal > .about-detail + .about-detail {
    margin-top: 70px;
  }

  .about-container > .about-personal > .about-detail > img {
    width: 250px;
    height: 250px;
  }
  .about-container > .about-personal > .about-detail > p {
    font-size: 1.5rem;
    text-align: center;
  }
  .about-container > .about-personal > .about-detail > h3 {
    text-align: center;
  }
}

@media (max-width: 730px) {
  .about-container > .about-personal > .about-detail > h3 {
    font-size: 2rem;
  }
  .about-container > .about-history {
    flex-direction: column;
    align-items: center;
    margin: 0 !important;
    width: 100%;
  }

  .about-container > .about-history > .about-intro,
  .about-container > .about-history > p {
    width: 90%;
  }
}


