.filter-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  min-width: 150px !important;
  align-items: center;
  color: var(--color-text-base);
}
.filter-container .filter-title {
  display: flex;
  align-items: center;
}
.filter-container .filter-title #filter {
  cursor: pointer;
  transition: 0.3s;
}
.filter-container .filter-title #filter:hover {
  color: var(--color-secundary);
}
.filter-container .filter-title svg {
  margin-right: 10px;
  display: none;
}
.filter-content {
  width: 100%;
  border: 1px solid var(--color-border);
  padding: 1rem;
  margin-top: 10px;
  border-radius: 3px;
}
.filter-content form {
  width: 100%;
}
.filter-content h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.filter-content h5 {
  margin-bottom: 5px;
}
.filter-content .price {
  width: 100%;
  display: flex;
}
.filter-content .price .input-content + .input-content {
  margin-top: 0;
}
.filter-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-clear {
  height: 35px;
  width: 100%;
  margin-right: 5px;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  border-radius: 3px;
  color: var(--color-primary);
  font-weight: bold;
  font-size: 1.5rem;
  transition: 0.3s;
}
.btn-clear:hover {
  border: 1px solid var(--color-secundary);
  color: var(--color-secundary);
  -webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
}
.btn-search {
  width: 100%;
  height: 35px;
  margin-left: 5px;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  border-radius: 3px;
  background: var(--color-primary);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  transition: 0.3s;
}
.btn-search:hover {
  color: var(--color-secundary);
  border: 1px solid var(--color-secundary);
  -webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
}

@media (max-width: 550px) {
  .filter-container .filter-title svg {
    display: block;
  }
  .filter-content {
    display: none;
  }
}
