.filter {
  width: 100%;
  padding: 10px;

  border: 1px solid var(--color-border);
  background: #fff;

  display: flex;
  align-items: center;
}

.filter p {
  font-weight: 500;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;

  border-bottom: 1px solid transparent;

  transition: .2s;
}

.filter p + p {
  margin-left: 10px;
}

.filter p:hover {
  border-bottom: 1px solid var(--color-secondary);
}
