.login-container {
  width: 100vw !important;
  height: 100vh;
  padding: 0 2rem;
  max-width: 75% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.devstore {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
.devstore .dev-header {
  font-size: 30px;
  text-align: start;
  width: 100%;
}
.devstore .dev-header h1 {
  color: var(--color-white);
}
.devstore .dev-content {
  margin-top: 20px;
  font-size: 28px;
  margin-right: 20px;
}
.devstore .dev-content h2 {
  color: var(--color-white);
}
.login-content{
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-shape);
  width: 45%;
  border-radius: 5px;
  height: 60%;
  padding: 40px;
}
form {
  width: 100%;
}

.login-content form img{
	  width: 200px;
    margin-bottom: 20px;
}

.login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 1.2rem;
  transition: .3s;
  font-family: 'Roboto', sans-serif;;
}

.a:hover{
	color: var(--color-primary-hover) !important;
}
.recovery-pass {
  font-size: 1.5rem;
}
.register a{
  width: auto;
  cursor: default;
  font-size: 1.5rem;
}
.register a strong{
  color: var(--color-primary) !important;
}
.register a:hover {
  color: #999;
}
.register a strong:hover {
  color: var(--color-text-title);
  transition: 0.5s all;
  cursor: pointer;
}
.signup {
  display: flex;
  font-size: 1.5rem;
  color: var(--color-secondary);
  width: 100%;
  justify-content: center;
}
.signup a {
  color: var(--color-primary);
  font-weight: bold;
  margin-left: 5px;
  font-size: 1.5rem;
}
.arrow-back {
  width: 100%;
  text-align: left;
  margin-bottom: 30px;
}
.arrow-back a {
  width: 150px;
  display: flex;
}
.arrow-back a h3 {
  font-size: 15px;
  margin-left: 10px;
  transition: all .2s;
  font-weight: bold;
}
.arrow-back a h3:hover {
  color: var(--color-primary-hover);
}
@media (max-width: 1050px) {
  .login-container {
    max-width: 85% !important;
  }
}
@media (max-width: 870px) {
  .login-container {
    max-width: 95% !important;
    flex-direction: column;
  }
  .devstore {
    flex: 0;
    margin-left: 0px;
    margin-bottom: 25px;
    text-align: center;
  }
  .login-content {
    width: 100%;
  }
  .devstore .dev-header {
    text-align: center;
  }
  .dev-header h1 {
    font-size: 28px;
  }
  .dev-content h2 {
    font-size: 25px;
  }
}
@media (max-width: 600px) {
  .login-container {
    max-width: 100% !important;
  }
}
@media (max-width: 555px) {
  .login-content {
    width: 100%;
  }
  .devstore .dev-content h2 {
    font-size: 20px;
  }
}
