.login-container {
  width: 100vw !important;
  height: 100vh;
  padding: 20px;
  background: var(--color-white);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-content {
  width: 35%;
  max-width: 500px;
  height: 85%;
  border-radius: 3px;
  background: #fff;

  padding: 80px 20px 20px 20px;
  -webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.25);

  display: flex;
  flex-direction: column;
  align-items: center;

}

.login-content img {
  width: 60%;
  margin-bottom: 15px;
}

form {
  width: 100%;
}

.login-content form img{
	  width: 200px;
    margin-bottom: 20px;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 1.2rem;
  transition: .3s;
  font-family: 'Roboto', sans-serif;
}

.login-content form .btn-def {
  padding: 10px;
  border-radius: 3px;
  border: none;

  background: var(--primary);
  color: #fff;
  font-weight: bold;
  font-size: 1.8rem;
  cursor: pointer;
  letter-spacing: 1px;

  transition: .2s;
}

.login-content form .btn-def:hover {
  background: var(--primary-lighter);
}

.recovery-pass {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text);
}
