.main-header {
  width: 100%;

  padding: 25px 40px 25px 40px;

  line-height: 23px;
  font-weight: 500;
  background-color: #fff;
  z-index: 99999;

  position: fixed;
  box-shadow: 0 0 30px rgba(7,51,84,0.17)!important;

  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: .3s;
}

.main-header > h1 {
  font-size: 23px;
  color: var(--text);
  font-weight: 600;
  padding-bottom: 0;
  transition: padding-top 0.3s linear;
  z-index: 999;
  transition: .3s;
}

.main-header > .header-navigation {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: .5s;
}

.main-header > .header-navigation > p {
  color: var(--text);

  cursor: pointer;
  transition: .6s;
}

.main-header > .header-navigation > p:hover {
  color: var(--text-lighter);
}

.fixed-header {
  padding: 16px 40px 12px 40px !important;
}

.active {
  font-weight: 600 !important;
}

.menu-bars {
  display: none;
  cursor: pointer;
  color: #d1af83;
  z-index: 99999;

  transition: .2s;
}

@media (max-width: 900px) {
  .menu-bars {
    display: block;
  }

  .main-header > .header-navigation {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(255,255,255, 1);

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    flex-direction: column;
    justify-content: center;

    transition: .5s;

    display: none;
  }

  .main-header > .header-navigation > p {
    padding: 20px;
  }

  .main-header > h1 {
    width: 100%;
  }
}
