.sheet-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.sheet-container > .sheet-content {
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}

.sheet-container > div > header {
  padding: 10px;
  background: var(--color-border);
  border-radius: 3px 3px 0px 0px;
  text-transform: uppercase;
  border: 1px solid var(--color-border);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sheet-container > div > footer {
  border-radius: 0px 0px 3px 3px;
  background: var(--color-border);
  padding: 10px;
  text-align: right;
}
