.loading-container {
  width: 100vw;
  height: 100vh;
  background: #fff;

  z-index: 999999;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loading-container > div > img {
  max-width: 450px;

  transition: .2s;

  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}

.loading-container > .loading-text {
  margin-top: 20px;
  display: flex;
  align-items: center;

  color: rgba(68,66,53,0.8);

  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}

.loading-container > .loading-text > h4 {
  margin-right: 7px;
  color: rgba(68,66,53,0.8);
}

.loading-container > .loading-text > span {
  font-size: 2.8rem;
  color: rgba(68,66,53,0.8);
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

@media (max-width: 800px) {
  .loading-container > div > img {
    width: 250px;
  }

  .loading-container > .loading-text > h4,
  .loading-container > .loading-text > span {
    font-size: 1.5rem;
  }
}
