.indicator-container > header > .temporal-filter {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid var(--border);
  background: #fcfcfc;

  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.indicator-container > header > .temporal-filter > strong {
  position: absolute;
  margin-top: -18px;
  padding: 0 8px;
  background: #fcfcfc;
  font-size: 1.3rem;
  letter-spacing: 1px;
  color: var(--text-darker);
}

.indicator-container > header > .temporal-filter > p {
  cursor: pointer;
  font-size: 1.5rem;

  transition: .2s;
}

.indicator-container > header > .temporal-filter > p:hover {
  color: var(--primary);
}

.indicator-container > main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.indicator-container > main .chart {
  width: 400px;
  height: 300px;
}

.indicator-container > main > .card > header {
  padding: 10px;
  border-radius: 3px 3px 0px 0px;
  background: var(--background);
  border: 1px solid var(--border);

  display: flex;
  align-items: center;
}

.indicator-container > main > .card > header > svg {
  margin-right: 10px;
  color: var(--primary-darker);
}

.indicator-container > main > .card > header > span {
  display: flex;
  align-items: center;

  margin-top: 3px;
}

.indicator-container > main > .card > main {
  padding: 10px;
  border-left: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  border-right: 1px solid var(--border);
  border-radius: 0px 0px 3px 3px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.indicator-container > main .chart {
  width: 100%;
  height: auto;
}
