.shopping-section {
  margin-top: 100px;
  width: 100%;
}
.shopping-section h2 {
  color: var(--color-white);
}
.shopping-section hr {
  border-color: var(--color-shape);
}
.legend {
  width: 100%;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.legend-content {
  display: flex;
  align-items: center;
}
.legend-color {
  width: 7px;
  height: 7px;
  border-radius: 1px;
  margin-right: 5px;
}
.legend-text {
  font-size: 1.2rem;
}
.accordion-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: right;
}
.accordion-title h4 {
  color: var(--color-white);
  font-size: 1.4rem;
}
.accordion-title h5 {
  color: var(--color-white);
  font-size: 1.1rem;
}
.accordion-title p {
  color: var(--color-white);
  font-size: 1.2rem;
}
.MuiPaper-rounded {
  margin-bottom: 17px !important;
}
.MuiTypography-body1 {
  width: 100% !important;
}
.accordion-content hr {
  border-color: var(--color-background);
}
.buy-detail {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.buy-detail p {
  font-size: 1.3rem;
  color: var(--color-text);
}
.payments {
  display: flex;
  align-items: flex-start;
}
.user-detail p {
  font-size: 1.3rem;
  color: var(--color-text);
}
.btn-cancel {
  border: none;
  padding: 5px 10px;
  border-radius: 2px;
  cursor: pointer;
  transition: .2s;
  background: var(--color-red);
  color: var(--color-white);
  font-weight: bold;
  font-size: 1.2rem;
}
.btn-cancel:hover {
  background: var(--color-red-hover);
}
