.sidebar {
  width: 215px;
  min-height: 100%;

  position: fixed;
  padding: 10px 0px 10px 0px;

  display: flex;
  z-index: 9;
}
.sidebar-content {
  flex: 1;

  background: #fff;
  font-weight: 600 !important;

  border-radius: 5px;
}
.sidebar-content header {
  margin-bottom: 30px;

  text-align: center;
  padding-bottom: 10px;

  font-size: 1.9rem;
  font-weight: 800;
}
.sidebar-content header img {
  width: 70%;
  min-width: 150.5px;
}
.menu-item {
  padding: 12px 0;
  transition: .4s;
}
.menu-item a,
.menu-item div {
  color: var(--color-primary);
  font-size: 1.4rem;
  letter-spacing: 1px;
  cursor: pointer;

  display: flex;
  align-items: center;
}
.menu-item > a > p,
.menu-item > div > p {
  font-weight: 500;
  transition: .2s;
}
.menu-item a:hover,
.menu-item div:hover {
  color: #fff !important;
}
.menu-item svg {
  margin-right: 10px;
  color: var(--color-secondary);
  width: 30px;
  transition: .2s;
}

.menu-item a:hover > p,
.menu-item div:hover > p {
  color: var(--primary-darker);
}
.menu-item a:hover > div,
.menu-item div:hover > div {
  background: rgba(246, 133, 19, 0.2);
}
.menu-item a:hover > div > svg,
.menu-item div:hover > div > svg {
  color: var(--primary-darker);
}

.active > a,
.active > div {
  color: var(--color-secondary) !important;
}
.active > a > div,
.active > div > div {
  background: rgba(246, 133, 19, 0.2);
}
.active > a > div > svg,
.active > div > div > svg {
  color: var(--primary-darker);
}
.active > a > p,
.active > div > p {
  color: var(--primary-darker);
}
.menu-item > a > div,
.menu-item > div > div {
  width: 55px;
  margin-right: 10px;
  border-radius: 0 50px 50px 0px;

  padding: 10px 0px 10px 10px;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  transition: .2s;
}

.sidebar > .second-layer {
  min-width: 200px;
  padding: 10px;
  top: 0;
  bottom: 0;
  right: 0;

  z-index: 99999;
  margin-left: 10px;

  background: #fff;
  box-shadow: 10px 10px 14px -10px rgba(0,0,0,0.38);
  border-radius: 5px;

  border-top: 1px solid var(--border);
  border-right: 1px solid var(--border);
  border-bottom: 1px solid var(--border);

  transition: .2s;
}

.sidebar > .second-layer > div > .second-item + .second-item {
  margin-top: 10px;
}

.sidebar > .second-layer > div > .second-item > a {
  display: flex;
  font-size: 1.5rem;
  align-items: center;

  padding: 10px 0;

}

.sidebar > .second-layer > div > .second-item > a > strong {
  margin-right: 10px;
  color: var(--primary);
  transition: .2s;
}

.sidebar > .second-layer > div > .second-item > a:hover > p {
  transition: .2s;
}

.sidebar > .second-layer > div > .second-item > a:hover > strong {
  color: var(--primary-darker);
}

.sidebar > .second-layer > div > .second-item > a:hover > p {
  color: var(--primary);
}
