.navigation-container {
  width: 200px;
  min-height: 100%;
  background: rgb(46,58,89);
  background: linear-gradient(180deg, rgba(46,58,89,1) 0%, rgba(75,94,145,1) 81%);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation-container a {
  width: 100%;
  height: 40px !important;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-right: 3px solid transparent;
  margin-bottom: 0;
}
.navigation-container a h2 {
  margin-left: 10px;
}
.header-options {
  display: flex;
  align-items: center;
  color:#8c99bd;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 1.5rem 0rem 1.5rem;
}
.header-options a {
  margin-bottom: 0 !important;
  padding-left: 0 !important;
  border: 0 !important;
  color:#8c99bd !important;
  width: auto !important;
  background: transparent !important;
}
.header-options svg {
  cursor: pointer;
}
.header-options svg:hover {
  color: #fff;
  transition: 0.3s
}
.header-options a:hover {
  border: 0 !important;
}
.user-container {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user-container .avatar {
  width: 70px;
  height: 70px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #8399d1;
}
.user-container .avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.navigation-container a {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: start;
  border-right: 3px solid transparent;
  padding-left: 25px;
  margin-bottom: 10px;
  font-size: 1rem;
  color: #b1bbd8;
}

.navigation-container a:hover {
  color: #fff !important;
  border-right: 3px solid #fff;
  transition: 0.3s;
}
.user-container .user-name {
  margin-top: 20px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.3rem;
  margin-bottom: 3px;
}
.user-container p {
  color: #b1bbd8;
  font-size: 1.2rem;
}

