.mark {
  width: 100%;
  margin-top: 10px;
}

.mark .mark-container {
  padding: 10px 10px;

  border: 1px solid var(--color-border);
  border-radius: 3px;
}
.mark .mark-container + .mark-container {
  margin-top: 10px;
}

.mark .mark-container h4 {
  margin-bottom: 10px;

  font-size: 1.6rem;
  font-weight: 500;
}

.mark .progress-container {
  width: 100%;

  margin-bottom: 15px;
}

.mark .mark-container .footer {
  display: flex;
  justify-content: space-between;
}

.mark .mark-container .footer p {
  font-size: 1.5rem;
}

.mark .mark-container .footer p span {
  margin-left: 5px;
}
