.customer-container > header {
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: 0px 7px 13px -11px rgba(0,0,0,0.59);
}

.customer-container > header > div {
  display: flex;
  align-items: center;
}

.customer-container > header > div > p {
  font-size: 2rem;
  margin-top: 3px;
  margin-left: 10px;
}

.customer-container > header > .search {
  margin-top: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.customer-container > header > .search > input {
  width: 500px;
  border: none;
  border-radius: 3px;
  background: var(--background);
  padding: 3px 12px;
  margin-right: 10px;
  border: 1px solid transparent;

  transition: .2s;
}

.customer-container > header > .search > button + button {
  margin-left: 10px;
}

.customer-container > header > .search > input:focus {
  border: 1px solid var(--primary);
}

.customer-container > main > div > table {
  width: 100%;
  border-spacing: 0px;
}

.customer-container > main > div > table > thead > tr > th {
  padding: 10px;
  background: var(--background);
  text-align: start;
  border: 1px solid var(--border);
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.customer-container > main > div > table > tbody > tr > #actions > a {
  width: 30px !important;
}

.customer-container > main > div > table > tbody > tr > #actions > a > svg {
  color: var(--blue);
}

.customer-container > main > div > table > thead > tr > th + th,
.customer-container > main > div > table > tbody > tr > td + td {
  border-left: none;
}

.customer-container > main > div > table > tbody > tr > td {
  padding: 10px;
  border: 1px solid var(--border);
  border-top: none !important;

  font-size: 1.4rem;
}

.customer-container > main > div > table > tbody > tr > td > img {
  width: 100%;
  border-radius: 50px;
}

.customer-container > main > div > .pagination {
  margin-top: 10px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.MuiButtonBase-root {
  font-size: 1.4rem !important;
}


