:root {
  --color-background: white;

  --color-primary:  rgb(7, 50, 92);
  --color-primary-light:rgb(7, 50, 92, 0.8);
  --color-primary-lighter: #35b6bd;
  --color-primary-dark: #185255;
  --color-primary-darker: #1f6c70;

  --color-primary-header: #fff;
  --color-header-background: #121214;

  --color-secundary: #ec7646;
  --color-secundary-darker: #bd5d37;
  --color-secundary-dark: #a3a076;

  --color-optional-one: #E8896C;
  --color-optional-two: #5C1B0C;
  --color-optional-three: #94BCD9;

  --color-title-in-primary: #FFFFFF;
  --color-text-in-primary: #D4C2FF;
  --color-text-title: #32264D;
  --color-text-complement: #9e9e9e;
  --color-text-base: #3f3c46;
  --color-line-in-white: #E6E6F0;
  --color-input-background: #F8F8FC;
  --color-button-text: #FFFFFF;
  --color-box-base: #FFFFFF;
  --color-box-footer: #8d8d8d;
  --color-border: #e2e2e2;
  --color-border-input: #d4d5da;


  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body #root {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased !important;
}

body {
  background: white;
}

#root {
  display: flex;
  justify-content: center;
}

body, input, button, textarea {
  font: 500 1.6rem Roboto;
  color: var(--color-text-base);
}

.container {
  width: 90vw;
  max-width: 700px;
}

@media (min-width: 700px) {
  :root {
      font-size: 62.5%rem;
  }
}

.Toastify__toast {
  border-radius: 0.3rem !important;
  font-family: 'Roboto' !important;
}

.wrapper-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
