:root {
  --color-background: #fff;
  --color-green: #04d361;
  --color-red: #e83f5b;
  --color-red-hover: #da3a55;
  --color-orange: #fd951f;
  --color-orange-hover: #e4871d;
  --color-yellow: #f7df1e;
  --color-primary: rgb(147, 130, 215);
  --color-primary-hover: rgb(136, 120, 199);
  --color-secondary: #e1e1e6;
  --color-text: #2B3A53;
  --color-text-secondary: #A4AFB5;
  --color-support: #737380;
  --color-shape: rgb(44, 44, 56);
  --color-shape-hover: #29292e;
  --color-icons: #41414d;
  --color-borders: #323238;
  --color-black: #0d0d0f;
  --color-white: rgb(225, 225, 230);
  --color-gradient: linear-gradient(155.34deg,#ff018e -0.59%,#ffa17b 51.28%,#ffcd1e);

  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100vh;
  height: auto !important;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  background: #F6F9FB;
}

#root {
  display: flex;
  justify-content: center;
  height: auto;
}
body {
  padding-right: 0px !important;
}

body, input, button, textarea {
  font-family: 'Poppins', sans-serif !important;
  color: var(--color-text);
}

a, h1, h2, h3, h4, h5 {
  color: var(--color-text);
  font-family: 'Poppins', sans-serif !important;
  margin: 0;
}
a:hover {
  color: var(--color-primary-hover) !important;
}
@media (min-width: 700px) {
  :root {
      font-size: 62.5%rem;
  }
}

.Toastify__toast {
  border-radius: 0.3rem !important;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}

.dflex {
  display: flex;
}
.center {
  align-items: center;
}
.column {
  flex-direction: column;
}
.right {
  justify-content: flex-end;
}
.main-container {
  display: flex;
  margin-left: 230px;
  padding: 15px;
  min-width: calc(100% - 230px);
  min-height: 100%;
}
.MuiDataGrid-root .MuiDataGrid-colCell {
  font-size: 1.5rem;
  font-weight: 800 !important;
}
.MuiDataGrid-root .MuiDataGrid-cell {
  font-size: 1.5rem;
}
.MuiDataGrid-root .MuiDataGrid-rowCount, .MuiDataGrid-root .MuiDataGrid-selectedRowCount {
  font-size: 1.5rem;
}
.MuiTypography-body2 {
  font-size: 1.5rem !important;
}
