.dayoff-container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;

  padding-top: 75px;
}

.dayoff-container > h2 {
  font-size: 6rem;
  color: #444235!important;
  line-height: 1.3em;
  text-align: center;
  font-family: 'Nunito', sans-serif !important;

  margin-bottom: 70px;
}

.dayoff-container > p {
  width: 850px;
  text-align: center;

  font-size: 1.7rem;
  line-height: 1.9em;
  color: rgba(68,66,53,0.8);

  margin-bottom: 70px;
}

.dayoff-container > div {
  min-width: 750px;

  display: flex;
  justify-content: space-evenly;
}

.dayoff-container > div > .dayoff-details {
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dayoff-container > div > .dayoff-details > h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  color: #444235!important;
  text-align: center;
  font-family: 'Nunito', sans-serif !important;
}

.dayoff-container > div > .dayoff-details > p {
  font-size: 1.6rem;
  max-width: 300px;
  text-align: center;
  line-height: 3rem;
  color: rgba(68,66,53,0.8);
}

.dayoff-container > div > .dayoff-details + .dayoff-details {
  margin-left: 20px;
}

@media (max-width: 900px) {
  .dayoff-container > p {
    width: 80%;
  }
}

@media (max-width: 760px) {
  .dayoff-container > h2 {
    font-size: 4rem;
  }
  .dayoff-container > p {
    font-size: 1.4rem;
  }
  .dayoff-container > div {
    flex-direction: column;
    min-width: 100%;
  }
}
